// @import "bootstrap-sprockets";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "node_modules/bootswatch/darkly/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch/darkly/bootswatch";

@import "slider";

body {
  padding-top: 50px;
}

hr {
  margin-bottom: 0;
}

$colorLive: $brand-success;
$colorPending: $brand-warning;

.textNext {
  color: $brand-warning;
}
.textCurrent {
  color: $colorLive;
}

.spacer {
  margin: 0 20px;
}

.btn {
  &.current {
    background-color: $colorLive
  }
  &.pending {
    background-color: $colorPending
  }
}

.btn-quarter, .btn-score, .btn-possession, .btn-downs, .btn-timeouts, .btn-gains {
  @extend .btn-default;

  margin-bottom: 5px;

}

#quarter-select {
  &.pending {
    background-color: $colorPending
  }

  option {
    background-color: white;
    &.current {
      background-color: $colorLive
    }
  }
}

.center {
  text-align: center;
}

.btn-lg {
  // padding-top: 14px;
  // padding-bottom: 14px;
}

.btn-flag {
  @extend .btn-default;

  &.on {
    background-color: $brand-danger;
  }
  &.off {
    background-color: $colorLive;
  }
  &.next {
    background-color: $brand-warning !important;
  }
}

.bar-scaler {
  // TODO - render 1080 and scale
  width: 100%;
  height: 100px;
  overflow: hidden;
}
#bar-preview {
  width: 1920px;
  height: 1080px;

  margin-left: calc(-960px + 50%);
  transform: scale(0.8);
  transform-origin: top left;

}
