
@import "variables";
@import "casparcg";

@import "possession";
@import "timeout";
@import "flag";

body {
  background: #00ff00;
  font-family: "AlegreSans";
}

@font-face {
  font-family: "AlegreSans";
  src: url("/font/Alegre Sans.ttf");
}


#content-mask {
  // width: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;

  // transition: width 1s;
  // transition-delay: 0.78s;
  // transition-timing-function: ease-in;


  #content {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-image: url("/img/bar-bg.png");
  }
}

#template-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("/img/template-overlay.png");
}

// .video-holder {
//   position: fixed;
//   top: 0;
//   left: 0;

//   width: 100vw;
//   height: 100vh;

//   video {
//     width: 100%;
//     height: 100%;
//   }
// }

// #video-in {
//   opacity: 1;
// }
// #video-out {
//   opacity: 0;
// }

// body.in {
//   #content-mask {
//     width: 100vw !important;
//   }

// }


#bar-outline {
  position: absolute;
  top: 55px;
  left: 520px;

  width: 880px;
  height: 50px;

  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  color: #e5e5e5;

  &> div {
    position: absolute;
    top: 0;

    height: 100%;

    // background: #fff;
  }

  #box-left {
    left: 0;
    width: 230px
  }

  #score-left {
    left: 360px;
    width: 90px;
  }
  #score-right {
    left: 600px;
    width: 90px
  }

  #box-right {
    left: 690px;
    width: 190px;
  }


}
