// These colours should not be modidifed
$text-dark: #282828;
$text-light: #f5f5f5;


// These colours can be changed to match the teams. 
// The bg colours are gradients used for both the team name and the touchdown overlay
$team-l-color-text: $text-light;
$team-l-color-bg1: #933434;
$team-l-color-bg2: darken($team-l-color-bg1, 10%);

$team-r-color-text: $text-light;
$team-r-color-bg1: #7c3e8c;
$team-r-color-bg2: darken($team-r-color-bg1, 15%);


$possession-border: 1.5px;
