$ani-one-text-delay: 1s;
$ani-one-text-dur: 0.66s;
$ani-one-bg-delay: $ani-one-text-delay + $ani-one-text-dur + 0.5s;
$ani-one-bg-dur: 0.44s;

$ani-one-move-delay: 0.2s;
$ani-one-move-dur: 0.14s;
$ani-one-line2-show-delay: $ani-one-move-delay;
$ani-one-line2-show-dur: 0s;

$ani-two-hide-delay: $ani-one-line2-show-delay + $ani-one-line2-show-dur + 2.1s;
$ani-two-hide-dur: 0.8s;
$ani-two-swap-delay: $ani-two-hide-delay + 0.4s;
$ani-two-swap-dur: 0s;


body.out #outline {
	opacity: 0 !important;
	transition: opacity 0.5s !important;
}

body.showHeading {
	#line1 .text1 {
		transition: top $ani-one-text-dur;
		transition-delay: $ani-one-text-delay;
		transition-timing-function: ease-out;

		top: 0;
	}

	#line1 .bg {
		transition: top $ani-one-bg-dur;
		transition-delay: $ani-one-bg-delay;
		transition-timing-function: ease-out;

    	top: 0;
	}
}

#line2 {
	transition: height $ani-one-move-dur;
	transition-timing-function: ease-out;	
}
body.showTable #line2 {
	height: 46px + 7px;
}

#line1 .mask {
	top: 103px;
	transition-timing-function: ease-out;	
}

body.hideTitle {
	#line1 .mask {
		animation-name: lineOneMask;
		animation-duration: $ani-two-hide-dur;
		animation-timing-function: ease-out;
	}
}

@keyframes lineOneMask {
    0%   { top: 103px; }
    45%  { top: 0; }
    55%  { top: 0; }
    100% { top: -103px; }
}