// @import "bootstrap-sprockets";
// @import 'bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
// @import 'bootswatch/darkly/variables';
// @import 'bootstrap-sass/assets/stylesheets/bootstrap';
// @import 'bootswatch/darkly/bootswatch';

@import 'bootswatch/dist/darkly/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/darkly/bootswatch';

@import 'slider';

.btn {
	--bs-btn-padding-x: 1rem;
	--bs-btn-padding-y: 0.5rem;
}
.btn-lg {
	--bs-btn-padding-x: 2rem;
	--bs-btn-padding-y: 1rem;
}

body {
	padding-top: 50px;
}

hr {
	margin-bottom: 0;
}

$colorLive: var(--bs-success);
$colorPending: var(--bs-warning);

.textNext {
	color: var(--bs-warning);
}
.textCurrent {
	color: $colorLive;
}

.my-navbar-content {
	// display: grid;
	// grid-template-columns: auto;
	// grid-auto-flow: column;
	column-gap: 0.5rem;
	display: flex;
	width: 100%;

	.my-navbar-spacer {
		width: 100%;
		display: inline-block;
		flex-grow: 1;
	}
}

.btn {
	&.current {
		background-color: $colorLive;
	}
	&.pending {
		background-color: $colorPending;
	}
}

.btn-quarter,
.btn-score,
.btn-possession,
.btn-downs,
.btn-timeouts,
.btn-gains,
.btn-sets,
.btn-editor {
	@include button-variant(#2c2c2c, #272727);

	margin-bottom: 5px;
}

#quarter-select {
	min-width: fit-content;

	&.pending {
		background-color: $colorPending;
	}

	option {
		background-color: white;
		&.current {
			background-color: $colorLive;
		}
	}
}

.center {
	text-align: center;
}

.quarter-control {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 0.5rem;

	label {
		align-content: center;
		padding-left: 0.5rem;
	}
}

.btn-flag {
	@include button-variant(#2c2c2c, #272727);

	&.on {
		background-color: var(--bs-danger);
	}
	&.off {
		background-color: $colorLive;
	}
	&.next {
		background-color: var(--bs-warning) !important;
	}
}

.btn-inout {
	@include button-variant(#2c2c2c, #272727);

	&.off {
		background-color: var(--bs-danger);
	}
	&.on {
		background-color: $colorLive;
	}
	&.next {
		background-color: var(--bs-warning) !important;
	}
}

.bar-scaler {
	width: 100%;
	height: 100px;
	overflow: hidden;
}
#bar-preview {
	width: 1920px;
	height: 1080px;

	--bar-scale: 1;

	margin-left: calc(-960px + 50%);
	transform: scale(calc(0.8 * var(--bar-scale))) translateY(calc((1 - var(--bar-scale)) * 250px));
	transform-origin: top center;
}

@media screen and (max-width: 800px) {
	#bar-preview {
		--bar-scale: 0.7;
	}
}

@media screen and (max-width: 600px) {
	#bar-preview {
		--bar-scale: 0.5;
	}
}
