
@import "../variables";
@import "../casparcg";

@import "possession";
@import "timeout";
@import "flag";
@import "touchdown";
@import "bar-text";

body {
  font-family: "TradeGothic";
}

@font-face {
  font-family: "TradeGothic";
  src: url("/font/TradeGothicLTStd-Bd2.otf");
}

body {
  transition: opacity 0.25s;
  transition-delay: 0.5s;
  opacity: 1;
  
  // background: #00ff00;
  // background-image: url("/img/template1.png");
  // background-position: -10px 55px;
}

#content-mask {
  // width: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;

  // transition: width 1s;
  // transition-delay: 0.78s;
  // transition-timing-function: ease-in;

  #content {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
  }

}

#team-l .logo {
  // background-color: green;
  width: 54px;
  height: 39px;

  position: absolute;
  float: left;
  display: block;
  top: 5px;
  left: 10px;
  z-index: 0;

  background-image: url("/img/RedLion.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


#team-r .logo {
  // background-color: green;
  width: 54px;
  height: 39px;

  position: absolute;
  float: left;
  display: block;
  top: 3px;
  right: 10px;
  z-index: 0;

  background-image: url("/img/cobrasnew6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  // filter: brightness(100);
  // filter: contrast(200);
  // filter: sepia();
}