
@import "../variables";
@import "casparcg";

@import "possession";
@import "timeout";
@import "flag";
@import "touchdown";
@import "bar-text";

body {
  transition: opacity 0.25s;
  transition-delay: 0.5s;
  opacity: 1;
  
  // background: #00ff00;
  // background-image: url("/img/template1.png");
  // background-position: -10px 55px;
}

#content-mask {
  // width: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;

  // transition: width 1s;
  // transition-delay: 0.78s;
  // transition-timing-function: ease-in;

  #content {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
  }

}
