
@import "../variables";
@import "casparcg";

@import "possession";
@import "timeout";
@import "flag";
@import "touchdown";
@import "bar-text";
@import "video";

body {
  // background: #00ff00;
  transition: opacity 0.25s;
  transition-delay: 0.5s;
  opacity: 1;
}

#content-mask {
  // width: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;

  // transition: width 1s;
  // transition-delay: 0.78s;
  // transition-timing-function: ease-in;

  #content {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
  }

  #bar-bg {
    position: absolute;
    top: 34px;
    left: 490px;

    width: 936px;
    height: 94px;

    background-image: url("/img/bar-bg.png");
  }
}

#template-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-image: url("/img/template-overlay.png");
}