body.flag #flag {
  top: 0;
}

#flag {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(#fafe00, #ffcd00);

  display: inline-flex;
  align-items: center;

  transition: top 0.3s;
  transition-timing-function: linear;

  .text {
    color: $text-dark;
  }
}
