#possession-left-circle, #possession-right-circle {
  margin-top: 20px;

  width: 10px;
  height: 10px !important;

  border-radius: 5px;

  opacity: 0;
  transition: opacity 0.25s;
}

#possession-left-circle {
  background: $team-l-color-text;
}

#possession-right-circle {
  background: $team-r-color-text;
}

body.possession-left {
  #possession-left-circle {
    opacity: 1 !important;
  }
}

body.possession-right {
  #possession-right-circle {
    opacity: 1 !important;
  }
}