body.possession-left {
  #possession-left {
    opacity: 1 !important;
  }
}

body.possession-right {
  #possession-right {
    opacity: 1 !important;
  }
}

.possession {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - #{$possession-border} * 2);
  height: calc(100% - #{$possession-border} * 2);
  border: $possession-border solid $text-light;

  opacity: 0;
  transition: opacity 0.25s;
}