body.possession-left #possession-left, 
body.possession-right #possession-right {
  opacity: 1 !important;
}

.possession {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 130;

  width: calc(100% - #{$possession-border} * 2);
  height: calc(100% - #{$possession-border} * 2) !important;
  border: $possession-border solid $text-light;
  background: none !important;

  opacity: 0;
  transition: opacity 0.25s;
}